.pokedex-screen {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.pokemon-info {
  padding: 0.8rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 40% calc(60% - 0.8rem);
  grid-template-rows: 35px 1fr;
  grid-column-gap: 0.8rem;
  grid-row-gap: 0.8rem;
  grid-template-areas:
    "title title"
    "img   stats";
}
.pokemon-name {
  text-align: center;
  text-transform: capitalize;
  grid-area: title;
  font-weight: 700;
}

.spinner-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
}

.grid-pad{
  padding-left: 23px;
}

.grid-pad-two{
padding-left: 6px;
}

.pokemon-img {
  /*  width: inherit; */
  width: 81%;
  transform: scale(1.2);
  align-self: center;
  grid-area: img;
}
.pokemon-stats {
  grid-area: stats;
}
.pokemon-stat {
  font-size: 0.9rem;
}
.pokedex-no-screen {
  width: 100%;
  height: 80%;
}
.stat-name {
  text-transform: capitalize;
}

.scroll {
  overflow-x: auto;
}

.margin-text {
  margin-top: 9px;
}
